/vendor
/node_modules
/public/storage
/public/assets
Homestead.yaml
Homestead.json
.env

# PhpStorm:
.idea/*.iws
.idea/*.ids
.idea/workspace.xml
.idea/tasks.xml
.idea/vcs.xml
.idea/dictionaries
.idea/codeStyleSettings.xml

.idea/dataSources.xml
.idea/dataSources.local.xml
